*{
    margin: 0;
    padding: 0;
}

.shake{
    animation: shake 1s;
}

.button{
    text-align: center;
}

#ball{
    z-index: 3;
    width: 300px;
    height: 300px;
    position: relative;
    display: block;
    margin-top: 15%;
    background: transparent;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 50%;
    opacity: 0.7;
}

body #fortune, #message{
    color: rgb(172, 169, 169);
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
    z-index: 3;
    display: block;
    position: relative;
    text-align: center;
    margin-top: 5%;
}

.title h1{
    color: rgb(195, 195, 195);
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
    z-index: 3;
    display: block;
    position: relative;
    text-align: center;
    margin-top: 10%;
}

@keyframes shake{
    0% { transform: translate(4px, 4px) rotate(0deg); }
    10% { transform: translate(-4px, -4px) rotate(-1deg); }
    20% { transform: translate(-7px, 0px) rotate(1deg); }
    30% { transform: translate(7px, 4px) rotate(0deg); }
    40% { transform: translate(4px, -4px) rotate(1deg); }
    50% { transform: translate(-4px, 4px) rotate(-1deg); }
    60% { transform: translate(-7px, 4px) rotate(0deg); }
    70% { transform: translate(7px, 4px) rotate(-1deg); }
    80% { transform: translate(-4px, -4px) rotate(1deg); }
    90% { transform: translate(4px, 4px) rotate(0deg); }
    100% { transform: translate(4px, -4px) rotate(-1deg); }
  }

@keyframes cloud-move {
    from {background-position: 0 0}
    to {background-position: 10000px 0}
}

@keyframes twinkle-move {
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px}
}

@keyframes lightning-flash{
    0% {opacity: 0;} 
    4% {opacity: 0;}
    5% {opacity: 0.1;}
    6% {opacity: 0;}
    7% {opacity: 0;}
    8% {opacity: 0.1;}
    11% {opacity: 0;} 
    100% {opacity: 0;}
}

.clouds, .twinkling, .stars{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 55em;
    display: block;
}

.bolt1, .bolt2, .bolt3{
    position: absolute;
    top: 0;
    width: 400px;
    height: 700px;
    z-index: 3;
    opacity: 0;
}

.bolt1{
    left: 25px;
    background:transparent url(images/bolt1.png) top center;
    animation:lightning-flash 6s linear infinite;
}

.bolt2{
    right: 25px;
    background: transparent url(images/bolt2.png) top center;
    animation: lightning-flash 6s linear infinite 2s;
}

.bolt3{
    right: 40px;
    background: transparent url(images/bolt3.png) top center;
    animation: lightning-flash 6s linear infinite 3s;
}

.stars {
    background:#000 url(images/stars.png) repeat top center;
    z-index: 0;
}

.twinkling{
    background:transparent url(images/twinkling.png) repeat top center;
    z-index: 1;
    animation:twinkle-move 200s linear infinite;
}

.clouds{
    background:transparent url(images/clouds.png) repeat top center;
    z-index: 2;
    opacity: 0.5;
    animation:cloud-move 200s linear infinite;
}